<!doctype html>
<html lang="en" ng-app='ti'>
<head>
	<meta charset="UTF-8">
	<title>提醒事项</title>
	<link rel="stylesheet" type="text/css" href="tixing.css">
	<script type="text/javascript" src='angular.js'></script>
  <script type="text/javascript" src='https://cdn.bootcss.com/jquery/3.1.0/jquery.js'></script>
  <script type="text/javascript" src='tixing.js'></script>
</head>
<body ng-controller='nei'>
	<!-- 左 -->
	<div class='left'>
		<div class='header'>
			<div my-se>
				<span class='yun'>iCloud</span>
				<span>提醒事项</span>
				<span class='xia'></span>
			</div>
			<span class='add' ng-click='addList()'>+</span>
		</div>
		<!-- 隐藏的选项 -->
		<div class='san'></div>
		<div class='yin'>
			<div class='yin-box'>
				<ul>
					<li class="icon-box">
						<div class='icon'>
							<img src="img/mail_icon.png">
						</div>
						<span class='font'>邮件</span>
					</li>
					<li class="icon-box">
						<div class='icon'>
							<img src="img/contacts_icon.png">
						</div>
						<span class='font'>通讯录</span>
					</li>
					<li class="icon-box">
						<div class='icon'>
							<img src="img/下载.png">
						</div>
						<span class='font'>日历</span>
					</li>
					<li class="icon-box">
						<div class='icon'>
							<img src="img/photos_icon.png">
						</div>
						<span class='font'>照片</span>
					</li>
					<li class="icon-box">
						<div class='icon'>
							<img src="img/icloud_drive_icon.png">
						</div>
						<span class='font'>iCloud Drive</span>
					</li>
					<li class="icon-box">
						<div class='icon'>
							<img src="img/notes_icon.png">
						</div>
						<span class='font'>备忘录</span>
					</li>
					<li class="icon-box icon-box-wu">
						<div class='icon'>
							<img src="img/reminders_icon.png">
						</div>
						<span class='font'>提醒事项</span>
					</li>
					<li class="icon-box icon-box2">
						<div class='icon'>
							<img src="img/pages_icon.png">
						</div>
						<span class='font'>Pages</span>
					</li>
					<li class="icon-box icon-box2">
						<div class='icon'>
							<img src="img/numbers_icon.png">
						</div>
						<span class='font'>Numbers</span>
					</li>
					<li class="icon-box icon-box2">
						<div class='icon'>
							<img src="img/keynote_icon.png">
						</div>
						<span class='font'>Keynote</span>
					</li>
					<li class="icon-box icon-box2">
						<div class='icon'>
							<img src="img/fmf_icon.png">
						</div>
						<span class='font'>查找朋友</span>
					</li>
					<li class="icon-box icon-box2">
						<div class='icon'>
							<img src="img/find_icon.png">
						</div>
						<span class='font'>查找我的iPhone</span>
					</li>
					<li class="icon-box icon-box2">
						<div class='icon'>
							<img src="img/settings_icon.png">
						</div>
						<span class='font'>设置</span>
					</li>
					<li class="icon-box icon-box-wu icon-box2">
						<div class='icon'>
							<img src="img/launchpad_icon.png">
						</div>
						<span class='font'>Launchpad</span>
					</li>
				</ul>
			</div>
		</div>
		<div class='yi'>
			<span class='clock'></span>
			<span>已计划</span>
		</div>
		<div my-ul>
			<li class='ge' ng-repeat='v in lists track by $index' ng-class='{ing:cu===$index}'>
				<span class='{{v.theme}}'></span>
				<span><input type='text' ng-model='v.name' class='ge-input' ng-keyup='save2local()'></span>
				<span class='wifi'></span>
				<div class='wifi-yin'>
					<div class='sanjiao1'></div>
					<div class='wifi-yin-box'>
						<div class='text-box'>
							<span>共享"</span><span class='text'>提醒</span><span>"</span>
						</div>
						<input type='text' value='添加人员...' class='text-shu'>
						<div class='que'>
							<span class='que-wan'>完成</span>
							<span>|</span>
							<span>取消</span>
						</div>
					</div>
				</div>
			</li>
		</div>
	</div>
	<!-- 右 -->
	<div class='right'>
		<div class='header'>
			<div class='sou'>
				<div class='sousuo'></div>
				<input type='text' value='搜索所有提醒' class='shu'>
			</div>
			<div class='name'>
				<span>郝雅婷</span>
				<span class='xia'></span>
				<span>|</span>
				<span class='wen'>?</span>
			</div>
		</div>
		<div class='contion'>
			<div class='{{lists[cu].theme}}'>{{lists[cu].name}}</div>
			<div my-xuan><div class='{{lists[cu].theme}}'>选项</div></div>			
		</div>
		<div class='xuan-yin'>
			<div class='sanjiao'></div>
			<div class='xuan-box'>
				<div id='xuan-box-shu'><input type='text' class='in {{lists[cu].theme}}' ng-model='lists[cu].name' ng-keyup='save2local()'></div>				
				<h4>列表颜色</h4>
				<div my-co ng-init='n=0'>
					<li class='color-box' ng-repeat='v in colors track by $index' ng-click='lists[cu].theme=v;save2local()' ng-class='{colorb_{{lists[cu].theme}}:n===$scope.cu}'>
						<div class='{{v}}'></div>
					</li>
					
				</div>
				<div class='wire'></div>
				<span class='dele' ng-click='delete()'>删除</span>
				<span class='xuan-zi'>
					<span>取消</span><span>|</span><span class='cheng'>完成</span>
				</span>
			</div>
		</div>
		<div id='xiang'>
			<div class='wan' ng-click='clear();save2local()'>
				<span>已完成:{{count()}}项</span>				
			</div>
			<div my-yi>
				<div class='wan cheng' ng-repeat='v in lists[cu].todos track by $index' ng-if='v.status===1'>
				    <span class='circle {{lists[cu].theme}}' ng-click='v.status=0;save2local()' ng-class='{piao_{{lists[cu].theme}}:v.status===1}'></span>
                    <input type='text' ng-model='v.name ' class='wan-gai' ng-keyup='save2local()'>
			    </div>
			</div>
			
			<div>未完成</div>
			<div my-yi>
				<div class='wan cheng' ng-repeat='v in lists[cu].todos track by $index' ng-if='v.status===0'>
					<span class='circle {{lists[cu].theme}}' ng-click='v.status=1;save2local()'></span>
	                <input type='text' ng-model='v.name' class='wan-gai' ng-keyup='save2local()'>
				</div>
			</div>			
			<div class='wan' ng-click='creatList(cu)'>
				<span>新项目...</span>
			</div>
		</div>
		
	</div>
</body>
</html>